psycopg2
pandas
numpy
supabase
python-dotenv
PyMuPDF
torch
scikit-learn
langchain
langchain_community
langchain_core
langchain_openai
transformers
Pillow
beautifulsoup4
requests
PyPDF2
tqdm
fastapi
uvicorn[standard]
sentence_transformers
chromadb
unstructured
faiss-cpu
openai
tqdm
fastapi
uvicorn[standard]
